@import "tailwindcss";

:root {
  /* LIGHT MODE */
  --background: #fff4f7;
  --foreground: #2b2b2b;

  --card: #ffffff;
  --card-foreground: #2b2b2b;

  --border: #f2c6d3;
  --muted: #6b7280;

  --accent: #ec4899; /* rose-500 */
}

.dark {
  /* DARK MODE */
  --background: #0b0b10;
  --foreground: #ededed;

  --card: #14141d;
  --card-foreground: #ededed;

  --border: rgba(255,255,255,0.08);
  --muted: #9ca3af;

  --accent: #ec4899;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  -webkit-tap-highlight-color: transparent;
}

